*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

html{
    font-size: calc(1em + 1vw);
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #E5E5E5;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "top" "hovedomraade" "sidebar" "baan";
}

/*meny*/

header{
    display: flex;
    background-color: #827575;
    justify-content: center;
    text-align: center;
    
}

.meny{

    color:black;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding: 1rempx;
    align-items: center;
    font-size: large;
    margin: 0 auto;

}

.fa-user, .fa-shopping-bag, .fa-heart, .fa-magnefying-glass, .fa-bars{
    padding: 10px;
}

#logo{
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: larger;
    font-weight: 700;
    padding: 50px;
}

main{
    display: inline-block;
    width: 100%;
 }

.search{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    justify-content: right;
}

/*forside*/

div p{
    display: flex;
    text-align: center;
    justify-content: center;
    color: red;
    font-size: large;
}

h3{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: large;
    text-decoration: none;
    color: #000;
    padding: 1rem;
    
}

.default-flex img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 1200px;
    height: 500px;
}


.default-flex p{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: larger;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.default-flex{
    position: relative;
    text-align: center;
}


.salg{
    display: flex;
    width: 100%;
    margin: 0;
    place-items: initial;
    padding: 1rem;
    justify-content: space-between;
}

.salg img{
    display: flex;
    place-items: initial;
    max-width: 250px;
    min-width: 350px;
    margin: auto;
}

.sale{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: large;
    word-spacing: 50px;

}

.navigering{
    background-color: #827575;
    border: 1px #000;
}

.navigering ul{ 
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    color: thistle;
    justify-content: left;
    align-items: center;
    font-size: large;
    text-align: center;
    text-decoration: none;
    width: auto;
    padding: 0.5rem;
}

.navigering nav{
    display: flex;
    flex-direction: row;
    color: #000;
    justify-content: space-around;
    place-items: initial;
    align-items: center;
    
}

.navigering nav{
    justify-content: right;
    position: absolute;
    right: 60px;
    width: 200px;
    height: 120px;
}

.navigering form{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    color: thistle;
    justify-content: right;
}


.responsive{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: black;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
    gap: 1rem;
}

.news img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 1200px;
    height: 500px;

}

.news p{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #000;
    font-size: larger;
    font-weight: 600;
    position: absolute;
    top: 200px;
    left: 200px;
}

.news{
    position: relative;
    text-align: center;
}

footer{
    background-color: #827575;
    display: flex;
}

form{
    display: flex;
    text-align: center;
    margin: 0 auto;
    font-size: medium;
    list-style: none;
    padding: 1rem;
    margin: auto;
    text-align: center;
}

/*katalog*/

h2{
    display: flex;
    font-size: 1rem;
    color: #827575;
    font-weight: 400;
    padding: 1rem;
    margin: 0;
    left: 150px;
}

.filterboks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    place-items: initial;
    background-color: #d4cdcd;
    
}

.filterboks ul{
    color: #000;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    white-space: nowrap;
    gap: 60px;
    
}

.filterboks h3{
    display: flex;
    font-size: large;
    color: #827575;
    padding: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.katalog{
    display: flex;
    width: 100%;
    place-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;

}


.katalog img{
    display: flex;
    place-items: initial;
    max-width: 250px;
    min-width: 350px;
    justify-content: center;
    padding: 1.1rem;
}


.katalog p{
    color: #000;
    justify-content: baseline;
}

@media only screen and (min-width: 600px) {
    #grid-template-areas: "header header header" "main main main" "footer footer footer";
    
    .right column{
        display: block;
        width: 33%;
        text-align: center;
        padding-right: 10px;
    }

    left column{
        display: block;
        padding-left: 5px;
        text-align: center;
        width: 33%;

    }

    navbar flex
}


/*.overskrift{
    display: flex;
    color:black;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.meny{
    display: flex,
    vertical-align: baseline;
    gap: 20px;
    width: 100%;
    margin: 0;
    padding: 1rem;
}


header nav ul{
    text-decoration: none;
    display: flex;
    color: #000;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    position: relative;
    
}

#logo{
    text-decoration: none;
}

#default-flex{
    display: flexbox;
    width: 100%;
}

#default-flex img{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}



#salg{
    display: flex;
    place-items: initial;
    width: 100%;
    margin: 0 auto;
    gap: 50px;
    place-items: initial;

}

#salg img{
    display: flex;
    gap: 40px;
    flex-wrap: initial;
    width: 100%;
    margin: 0;
    max-width: 300px;
    min-width: 200px;
}
*/
